/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  font-family: "Inter", sans-serif;
}
html{
  scroll-behavior: smooth;
}
body{
height: 100%;
margin: 0;
margin-top: 100px;
}
#FirstDiv{
/* top: 243px; */
}
.cellsize{
  width: 50px;
  height: 50px;
}

#eitc {position: relative;
  
  Letter-spacing:15px;
  color: #0e3742;
  text-transform: uppercase;
  width:100%;
  text-align: center;
  -webkit-box-reflect : below 1px linear-gradient(transparent, #0008);
  line-height: 0.70em;
  outline: none;
  animation: animate 5s linear infinite;
  }
 
  #eitcn {position: relative;
  
    Letter-spacing:5px;
    color: #e5e7eb;
    text-transform: uppercase;
    width:100%;
    text-align: center;
    -webkit-box-reflect : below 1px linear-gradient(transparent, #0008);
    line-height: 0.70em;
    outline: none;
  text-shadow: 0 0 10px #03bcf4,
  0 0 20px #03bcf4,
  0 0 40px #03bcf4,
  0 0 80px #03bcf4,
  0 0 160px #03bcf4;
    }
    
  #eitclogo {position: relative;
  
    text-align: center;
    -webkit-box-reflect : below 1px linear-gradient(transparent, #0008);
    outline: none;
    animation: animate 5s linear infinite;
    }


  @keyframes animate
  {
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%
  {
  color: #0e3742;
  text-shadow:none;}
  
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100%
  {
  color: #fff;
  text-shadow: 0 0 10px #03bcf4,
  0 0 20px #03bcf4,
  0 0 40px #03bcf4,
  0 0 80px #03bcf4,
  0 0 160px #03bcf4;}
  }

  .neon-image {
    animation: neon-glow 3s ease-in-out infinite;
  }
  
  @keyframes neon-glow {
    0%, 100% {
      filter: drop-shadow(10px 0px 1px rgba(0, 255, 255, 0.7))
              drop-shadow(10px 0 5px rgba(0, 255, 255, 0.7))
              drop-shadow(10px 0 6px rgba(0, 255, 255, 0.7))
              brightness(0.7);
              
    }
    
    50% {
      filter: drop-shadow(10px 0 1px rgba(0, 255, 255, 1))
              drop-shadow(0 0 5px rgba(0, 255, 255, 1))
              drop-shadow(0 0 6px rgba(0, 255, 255, 1))
              brightness(1.5);
    }
  }
  
  .text-neon {
    text-shadow: 0 0 10px #03bcf4;
  }
  .us-neon{
    text-shadow: 0 0 10px #5c578f;
  }
  .gold-neon{
    text-shadow: 0 0 10px rgba(255, 242, 0, 0.533);
  }
  
 .text-extra-neon {
    position: relative;
  
    /* Letter-spacing:3px; */
    color: #e5e7eb;
    text-transform: uppercase;
    /* width:100%; */
    text-align: center;
    -webkit-box-reflect : below 0.5px linear-gradient(transparent, #0008);
    line-height: 0.50em;
    outline: none;
  text-shadow: 0 0 10px #03bcf4,
  0 0 20px #03bcf4,
  0 0 40px #03bcf4,
  0 0 80px #03bcf4,
  0 0 160px #03bcf4;
  }
  .us-neon{
    text-shadow: 0 0 10px #5c578f;
  }
  .gold-neon{
    text-shadow: 0 0 10px rgba(255, 242, 0, 0.533);
  }
  
